.feature {
  /* dark FEATURE 5 */

  /* Auto Layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 62px 50px;

  position: static;
  width: 1579px;
  height: 1112px;
  left: 0px;
  top: 1796px;

  /* dark background */

  background: #181818;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 100px 0px;
}
.feature-one {
  /* content */

  /* Auto Layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  position: static;
  width: 1479px;
  height: 988px;
  left: calc(50% - 1479px / 2);
  top: 62px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 10px 0px;
}
.feature-title-para {
  /* heading */

  /* Auto Layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  position: static;
  width: 602px;
  height: 149px;
  left: 438.5px;
  top: 0px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 80px 0px;
}

#feature-title {
  /* FEATURES */

  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  /* Second Headline */

  font-family: Graphik;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 62px;
  /* identical to box height, or 119% */

  letter-spacing: 0.2px;

  /* light text */

  color: #ffffff;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
#feature-para {
  /* Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule. */

  position: static;
  left: 1.66%;
  right: 1.66%;
  top: 0%;
  bottom: 0%;

  /* Sub Heading */

  font-family: Graphik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  text-align: center;
  letter-spacing: 0.2px;

  /* light text */

  color: #ffffff;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
.feature-two {
  /* Frame 20 */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: static;
  width: 1088px;
  height: 759px;
  left: 195.5px;
  top: 229px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 80px 0px;
}
.feature-left {
  position: static;
  width: 752px;
  height: 759px;
  left: 0px;
  top: 0px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 27px;
}
#features1 {
  position: absolute;
  width: 696px;
  height: 659px;
  left: 28px;
  top: 0.5px;

  background: url(.jpg);
  /* shadow */

  filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
}
#features2 {
  position: absolute;
  width: 400px;
  height: 276px;
  left: 352px;
  top: 483.5px;

  background: url(.jpg);
  /* shadow */

  filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
}
.feature-right {
  /* Auto Layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;

  position: static;
  width: 309px;
  height: 651px;
  left: 779px;
  top: 54px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 27px;
}
#textblock1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 269px;
  height: 196px;
  left: 20px;
  top: 20px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 25px 0px;
}
#textblock2 {
  /* Auto Layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 269px;
  height: 196px;
  left: 20px;
  top: 241px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 25px 0px;
}
#textblock3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 269px;
  height: 169px;
  left: 20px;
  top: 462px;
}
